body{
  background: #f5f6fa;
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
form{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  background: white;
}
fieldset{
  border-radius: 5px;
  border: 1px solid #95a5a6;
}
p{
  font-size: 20px;
  font-weight: bold;
  color: #2d3436;
}
#div-check{
  color: green;
  font-size: 17px;
  font-weight: normal;
  margin-left:37%;
}
#regis{
  color:red;
  font-size: 17px;
  margin-left:40%;
  font-weight: normal;
}
#name-user{
  color:red;
  font-size: 17px;
  margin-left:37%;
  font-weight: normal;
}
.abc{
  color:red;
  font-style: italic;
  font-size: 15px;
}
input[type="button"]{
  width:90px;
  height: 25px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  color: #2d3436;
}
input[type="submit"]{
  width:90px;
  height: 25px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  color: #2d3436;
}
input[type="text"]{
  border-radius: 5px;
  border : 1px solid #b2bec3;
  padding: 3px 5px;
}
input[type="password"]{
  border-radius: 5px;
  border : 1px solid #b2bec3;
  padding: 3px 5px;
  background: none;
}
select{
  border-radius: 5px;
  padding: 3px 5px;
}
input[type="submit"]:hover{
  border: 1px solid #95a5a6;
}
input[type="button"]:hover{
  border: 1px solid #95a5a6;
}
